/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0;
}

.background-container {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#fondo1 {
    background-image: url(./img/fondo1.jpg);
}

#fondo2 {
    background-image: url(./img/fondo2.jpg);
}

#fondo3 {
    background-image: url(./img/fondogeneral_puff.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.container-botones {
    position: relative;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.4em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contacto {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.contacto#whatsapp:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

.contacto#email:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}