* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0;
}

.background-container {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#fondo1 {
    background-image: url(./img/fondo1.jpg);
}

#fondo2 {
    background-image: url(./img/fondo2.jpg);
}

#fondo3 {
    background-image: url(./img/fondogeneral_puff.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.container-botones {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.4em;
    flex-direction: column;
    align-items: center;
}

.botones {
    display: flex;
    gap: 0.4em;
    align-items: center;
}

.contacto {
    filter: grayscale(100%);
    transition: all 0.4s ease;
}

.contacto#whatsapp:hover {
    filter: grayscale(0%);
}

.contacto#email:hover {
    filter: grayscale(0%);
}
